<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>React App</title>
    <link rel="stylesheet" href="{% static 'react_leaderboard/css/main.c7abcba8.css' %}">
</head>
<body>
    <div id="root"></div>
    <script src="{% static 'react_leaderboard/js/453.db5098c9.chunk.js' %}"></script>
    <script src="{% static 'react_leaderboard/js/main.7682ba68.js' %}"></script>
    <script>
        window.quizHomepageUrl = "{% url 'leaderboard' %}";
    </script>
</body>
</html>
