<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>React App</title>
    <link rel="stylesheet" href="{% static 'react_app/static/css/main.46d73c0e.css' %}">
</head>
<body>
    <div id="root"></div>
    <script src="{% static 'react_app/static/js/453.8e104802.chunk.js' %}"></script>
    <script src="{% static 'react_app/static/js/main.34343402.js' %}"></script>
    <script>
        window.quizHomepageUrl = "{% url 'quizhomepage' %}";
    </script>
</body>
</html>
